@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin square($size) {
    width: $size;
    height: $size;
    aspect-ratio: 1/1;
}

@mixin hover() {
    @media screen and (hover:hover) {
        &:hover {
            cursor: pointer;
            @content;
        }
    }

    @media screen and (hover:none) {
        &:active {
            @content;
        }
    }
}

@mixin no-select() {
    user-select: none;
    /* Standard property */
    -webkit-user-select: none;
    /* For WebKit browsers (Chrome, Safari) */
    -moz-user-select: none;
    /* For Firefox */
    -ms-user-select: none;
    /* For Internet Explorer/Edge */
}