.container {
    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    padding-block: var(--container-padding-y);
    position: relative;
    margin: 0 auto;
}

.no-select {
    user-select: none;
    /* Standard property */
    -webkit-user-select: none;
    /* For WebKit browsers (Chrome, Safari) */
    -moz-user-select: none;
    /* For Firefox */
    -ms-user-select: none;
    /* For Internet Explorer/Edge */
}